In [6]:
import os
import pandas as pd
import numpy as np

import alpaca_trade_api as tradeapi
from MCForecastTools import MCSimulation

from dotenv import load_dotenv
load_dotenv('keys.env')

from joblib import dump, load
from pathlib import Path

import nltk
from nltk import word_tokenize, FreqDist
from nltk.stem import WordNetLemmatizer
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.preprocessing import LabelEncoder

from matplotlib import pyplot as plt
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [8]:
### Things possibly needed:
# pip install alpaca_trade_api
# pip install python-dotenv

In [11]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

timeframe = "1D"

start_date = pd.Timestamp("2017-05-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-05-01", tz="America/New_York").isoformat()

tickers = ['TLSA']

TSLA_ticker = api.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

TSLA_ticker.head()

                             TLSA
                             open    high     low   close volume
time
2019-12-09 00:00:00-05:00  2.6600  2.6600  2.6000  2.6373   1381
2019-12-10 00:00:00-05:00  2.5504  2.8200  2.5503  2.8000   3079
2019-12-11 00:00:00-05:00  2.8800  3.0300  2.8500  2.9500   7655
2019-12-12 00:00:00-05:00  2.7700  2.7700  2.7400  2.7400   3570
2019-12-13 00:00:00-05:00  2.9858  2.9858  2.8349  2.8349    400

In [13]:
###Monte_Carlo_Simulation
MC_fiveyear = MCSimulation(
    portfolio_data = df_ticker,
    weights = [1],
    num_simulation = 500,
    num_trading_days = 252*5
)

MC_fiveyear.portfolio_data.head()

                             TLSA
                             open    high     low   close volume daily_return
time
2019-12-09 00:00:00-05:00  2.6600  2.6600  2.6000  2.6373   1381          NaN
2019-12-10 00:00:00-05:00  2.5504  2.8200  2.5503  2.8000   3079     0.061692
2019-12-11 00:00:00-05:00  2.8800  3.0300  2.8500  2.9500   7655     0.053571
2019-12-12 00:00:00-05:00  2.7700  2.7700  2.7400  2.7400   3570    -0.071186
2019-12-13 00:00:00-05:00  2.9858  2.9858  2.8349  2.8349    400     0.034635